

.btnValidar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.btnValidar .validar {
    background-color: green;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
}

.btnValidar .validar:hover {
    background-color: rgb(2, 85, 2);
}


@media(max-width: 900px) {
    
    .btnValidar {
        font-size: 1rem;
        margin-top: 1rem;
    }
    
}