.btnDevolverValidar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.btnDevolverValidar .devolver {
    background-color: red;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.btnDevolverValidar .devolver:hover {
    background-color: rgb(151, 4, 4);
}

.btnDevolverValidar .validar {
    background-color: green;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
}

.btnDevolverValidar .validar:hover {
    background-color: rgb(2, 85, 2);
}


@media(max-width: 900px) {
    
    .btnDevolverValidar {
        font-size: 1rem;
        margin-top: 1rem;
    }
    
}